*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
}

body {
  font-family: Verdana, serif;
  background-color: white;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  color: antiquewhite;
  text-transform: capitalize;
}

span {
  color: red;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
  color: whitesmoke;
}

a {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  color: antiquewhite;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  outline: none;
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

li {
  font-size: 16px;
  font-weight: 300;
  color: whitesmoke;
  list-style: none;
}

input {
  border: none;
}

hr {
  display: block;
  height: 1px;
  width: 70px;
  margin: 0 auto;
  border: 0;
  border-top: 2px solid red;
  padding: 1rem 0 1rem 0;
}

.grid-wrapper {
  display: grid;
  width: 100%;
  grid-template-rows: 80px 2fr auto;
}
.grid-wrapper header {
  display: flex;
  width: 100vw;
  height: auto;
  background-color: #212529;
  z-index: 2;
  opacity: 0.8;
  position: sticky;
  right: 0;
  left: 0;
  top: 0;
}
.grid-wrapper header nav {
  display: flex;
  align-items: center;
  width: 100%;
}
.grid-wrapper header nav .logo {
  margin-left: 1rem;
  margin-right: auto;
}
.grid-wrapper header nav .logo img {
  max-height: 60px;
  max-width: auto;
}
.grid-wrapper header nav ul {
  margin-right: 2rem;
}
.grid-wrapper header nav ul li {
  display: inline-block;
  margin-right: 1rem;
  padding: 0.5rem;
}
.grid-wrapper header nav ul a {
  text-transform: uppercase;
}
.grid-wrapper header nav ul a:hover {
  color: red;
}
.grid-wrapper header .hamburgerContainer {
  width: 100%;
  z-index: 3;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  display: block;
}
.grid-wrapper header .hamburgerContainer .logo {
  margin-left: 1rem;
}
.grid-wrapper header .hamburgerContainer .logo img {
  margin-top: 0.8rem;
  max-height: 60px;
  max-width: auto;
}
.grid-wrapper header .hamburgerContainer .menu-btn {
  display: none;
}
.grid-wrapper header .hamburgerContainer .menu-icon {
  cursor: pointer;
  float: right;
  position: relative;
  user-select: none;
  padding: 15px 10px;
  margin-top: 1.5rem;
  margin-right: 3rem;
  width: 50px;
  border: 2px solid #495057;
  border-radius: 5px;
  z-index: 3;
}
.grid-wrapper header .hamburgerContainer .menu-icon .navicon {
  background: #495057;
  display: block;
  height: 3px;
  transition: background 0.2s ease-out;
}
.grid-wrapper header .hamburgerContainer .menu-icon .navicon::before {
  top: 7.5px;
}
.grid-wrapper header .hamburgerContainer .menu-icon .navicon::after {
  top: -10px;
}
.grid-wrapper header .hamburgerContainer .menu-icon .navicon::before,
.grid-wrapper header .hamburgerContainer .menu-icon .navicon::after {
  background: #495057;
  content: "";
  display: block;
  height: 100%;
  position: relative;
  transition: all 0.2s ease-out;
}
.grid-wrapper header .hamburgerContainer .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  background-color: #212529;
  opacity: 1;
  overflow: hidden;
  margin-top: 0.2rem;
}
.grid-wrapper header .hamburgerContainer .menu li {
  margin-top: 0.5rem;
  margin-left: 1rem;
  text-transform: uppercase;
}
.grid-wrapper header .hamburgerContainer .menu-btn:checked ~ .menu {
  position: relative;
  width: 100%;
  max-height: 250px;
}
.grid-wrapper header .hamburgerContainer .menu-btn:checked ~ .menu-icon {
  background: #eb315a;
}
@media screen and (min-width: 992px) {
  .grid-wrapper header .hamburgerContainer {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .grid-wrapper header nav {
    display: none;
  }
  .grid-wrapper header .hamburgerContainer {
    flex: 1;
  }
}
.grid-wrapper .main-banner {
  background-image: url("fitness.396fd203.jpg");
  position: relative;
  z-index: 1;
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
  padding: 10% 0;
  width: 100%;
  height: auto;
}
.grid-wrapper .main-banner .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
}
.grid-wrapper .main-banner .container {
  position: relative;
  width: 100vw;
  padding: 0 8rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.grid-wrapper .main-banner .container h2 {
  font-size: 32px;
  flex: 1;
}
.grid-wrapper .main-banner .container h2:first-of-type {
  margin-top: 5rem;
}
.grid-wrapper .main-banner .container p {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 50%;
  font-weight: bold;
  word-wrap: wrap;
}
.grid-wrapper .main-banner .container .btn {
  font-size: 12px;
  display: inline-block;
  max-width: 8rem;
  padding: 8px 20px 8px 20px;
  margin: 1.5rem 0;
  background-color: whitesmoke;
  color: lightcoral;
}
.grid-wrapper .main-banner .container .btn:hover {
  background-color: lightcoral;
  color: whitesmoke;
  transition: 0.2s ease-in-out;
}
@media screen and (max-width: 400px) {
  .grid-wrapper .main-banner .container {
    padding: 2rem;
  }
}
.grid-wrapper .coaches {
  background-color: #1a1c27;
  width: 100vw;
}
.grid-wrapper .coaches .container {
  position: relative;
  padding: 5rem 8rem;
  display: flex;
  width: 100%;
  height: auto;
}
.grid-wrapper .coaches .container article {
  flex: 1 0 30%;
  margin-bottom: 2rem;
}
.grid-wrapper .coaches .container article h2, .grid-wrapper .coaches .container article h3, .grid-wrapper .coaches .container article h4 {
  margin: 1rem 0;
  width: 100%;
}
.grid-wrapper .coaches .container article h3 {
  border-left: 3px solid red;
  padding-left: 1rem;
  margin-bottom: 2rem;
}
.grid-wrapper .coaches .container article h4 {
  width: 80%;
}
.grid-wrapper .coaches .container article p {
  width: 80%;
}
.grid-wrapper .coaches .container figure {
  max-width: 80%;
  height: auto;
  flex: 1 1 auto;
}
.grid-wrapper .coaches .container figure img {
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 400px) {
  .grid-wrapper .coaches .container {
    flex-direction: column;
    padding: 2rem;
  }
}
.grid-wrapper .service {
  background-color: black;
  width: 100vw;
}
.grid-wrapper .service h2 {
  text-align: center;
  padding: 2rem;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 300;
}
.grid-wrapper .service .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: center;
  width: 100%;
  height: auto;
  padding: 2rem 8rem;
}
.grid-wrapper .service .container article {
  flex: 1;
  padding: 2rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}
.grid-wrapper .service .container article hr {
  border-color: white;
  margin-top: 1rem;
}
.grid-wrapper .service .container article p {
  margin-bottom: 1rem;
}
.grid-wrapper .service .container article .btn-red {
  background-color: transparent;
  color: #eb315a;
  border: 2px solid #eb315a;
  padding: 8px 40px;
  outline: none;
}
.grid-wrapper .service .container article:hover .btn-red {
  color: white;
  border: 2px solid white;
}
.grid-wrapper .service .container article:hover .btn-red:hover {
  color: #eb315a;
  background-color: white;
}
.grid-wrapper .service .container article::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #232a35;
  opacity: 0.7;
  z-index: -1;
}
.grid-wrapper .service .container article:hover::before {
  background-color: #eb315a;
  opacity: 0.9;
}
.grid-wrapper .service .container .bodyshape {
  background-image: url("bodyshapeing.9e3ddd0e.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.grid-wrapper .service .container .exstreme {
  background-image: url("exstreme.8a6d4fd2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.grid-wrapper .service .container .yoga {
  background-image: url("yoga.6f1032b7.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 400px) {
  .grid-wrapper .service .container {
    padding: 2rem 0.5rem;
  }
  .grid-wrapper .service .container article {
    margin: 0 2rem;
    flex: 1;
    padding: 3rem;
  }
}
.grid-wrapper .prices {
  background-color: #1a1c27;
  width: 100vw;
}
.grid-wrapper .prices h2 {
  text-align: center;
  padding: 2rem;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 300;
}
.grid-wrapper .prices .container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 2rem 8rem;
}
.grid-wrapper .prices .container article {
  margin: 2rem;
  background-color: #222532;
}
.grid-wrapper .prices .container h3, .grid-wrapper .prices .container p, .grid-wrapper .prices .container ul {
  padding: 1.5rem 5rem;
}
.grid-wrapper .prices .container p {
  text-align: center;
  background-color: #2e3242;
}
.grid-wrapper .prices .container p span {
  color: whitesmoke;
}
.grid-wrapper .prices .container ul {
  text-align: center;
}
.grid-wrapper .prices .container ul li {
  padding-bottom: 1rem;
}
.grid-wrapper .prices .container .btn-singup {
  text-align: center;
  display: block;
  background-color: #2e3242;
  color: #eb315a;
  padding: 0.8rem 1.2rem;
  margin: 0 1rem 1rem 1rem;
  text-transform: capitalize;
}
.grid-wrapper .prices .container .btn-singup:hover {
  background-color: #1a1c27;
  color: whitesmoke;
}
.grid-wrapper .login {
  background-color: #171923;
  text-align: center;
  width: 100vw;
}
.grid-wrapper .login .container {
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.grid-wrapper .login .container h2 {
  font-size: 2em;
  margin-top: 7rem;
  text-transform: uppercase;
}
.grid-wrapper .login .container p {
  color: #636d75;
}
.grid-wrapper .login .container h2, .grid-wrapper .login .container p {
  margin-bottom: 1rem;
}
.grid-wrapper .login .container form {
  display: block;
  margin: 1rem 0 2rem 0;
}
.grid-wrapper .login .container form input {
  display: block;
  margin: 0 auto;
  text-align: left;
  min-width: 30%;
  background-color: #171923;
  color: #e4e4e4;
  outline: none;
  border-bottom: 1px solid #eb315a;
  padding-bottom: 0.5rem;
  margin-top: 3rem;
}
.grid-wrapper .login .container form .btn-login {
  margin: 3rem 0;
  padding: 0.7rem;
  border: 1px solid #eb315a;
  background-color: #171923;
  color: #eb315a;
  min-width: 30%;
  text-transform: capitalize;
}
.grid-wrapper .login .container form .btn-login:hover {
  color: #e4e4e4;
  border-color: #e4e4e4;
  cursor: pointer;
}
.grid-wrapper .faq {
  background-color: #1a1c27;
  text-align: center;
  width: 100vw;
}
.grid-wrapper .faq h2 {
  margin-top: 5rem;
}
.grid-wrapper .faq .container {
  position: relative;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4rem;
  margin-bottom: 4rem;
}
.grid-wrapper .faq .container article {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1rem;
}
.grid-wrapper .faq .container article h3 {
  margin: 0.5rem 0;
}
.grid-wrapper .faq .container article p {
  color: gray;
  max-width: 100%;
}
@media screen and (max-width: 770px) {
  .grid-wrapper .faq .container {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
.grid-wrapper footer {
  background: #13191d url("footer.6d410079.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100vw;
}
.grid-wrapper footer .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}
.grid-wrapper footer .container article, .grid-wrapper footer .container address {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  text-align: center;
  margin: 2rem 0;
}
.grid-wrapper footer .container article h2, .grid-wrapper footer .container article h3, .grid-wrapper footer .container address h2, .grid-wrapper footer .container address h3 {
  color: whitesmoke;
}
.grid-wrapper footer .container .about {
  flex: 1 0 33%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
}
.grid-wrapper footer .container .about p {
  align-self: flex-start;
  text-align: left;
}
.grid-wrapper footer .container .about h3 {
  text-transform: uppercase;
  align-self: flex-start;
}
.grid-wrapper footer .container .about form {
  background: #54545438;
  display: flex;
  width: 100%;
  justify-items: center;
  padding: 0.2rem;
}
.grid-wrapper footer .container .about form input {
  display: block;
  position: relative;
  flex: 1 1 auto;
  background: transparent;
  outline: none;
  border: none;
  color: #495057;
  padding-left: 0.8rem;
  font-size: 14px;
}
.grid-wrapper footer .container .about form input:focus {
  color: #495057;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  outline: 0;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.grid-wrapper footer .container .about form span button {
  position: relative;
  border: 0;
  outline: 0;
  padding: 5px;
  background: transparent;
}
.grid-wrapper footer .container .about form span button i {
  color: #eb315a;
  padding-right: 5px;
}
.grid-wrapper footer .container .about form span button:focus {
  border: 1.5px solid #80bdff;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.grid-wrapper footer .container .posts {
  flex: 1 0 33%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
}
.grid-wrapper footer .container .posts ul {
  text-align: left;
}
.grid-wrapper footer .container .posts ul li {
  position: relative;
  padding-left: 30px;
  color: #c9c9c9;
}
.grid-wrapper footer .container .posts ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 10px;
  height: 2px;
  display: block;
  background: red;
}
.grid-wrapper footer .container .posts ul li a {
  color: #c9c9bd;
}
.grid-wrapper footer .container .posts ul li a:hover {
  color: #f5f5f5;
  transition: 0.2s ease-in-out;
}
.grid-wrapper footer .container .posts ul li span {
  text-transform: capitalize;
  color: #576673;
  font-size: 13px;
  display: block;
  margin-top: 0.5rem;
}
.grid-wrapper footer .container address {
  flex: 1 0 33%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  font-style: normal;
}
.grid-wrapper footer .container address ul {
  margin-bottom: 1rem;
}
.grid-wrapper footer .container address ul li {
  color: #726a84;
}
.grid-wrapper footer .container address ul li p {
  text-align: left;
}
.grid-wrapper footer .container address ul li p i {
  color: #eb315a;
  padding-right: 0.5rem;
}
.grid-wrapper footer .container address .social {
  margin-top: 1rem;
}
.grid-wrapper footer .container address .social li {
  display: inline-block;
}
.grid-wrapper footer .container address .social li a {
  display: block;
  color: #eb315a;
  border: 1px solid #eb315a;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  line-height: 34px;
  text-align: center;
}
.grid-wrapper footer .container address .social li a:hover {
  background-color: #eb315a;
  border-color: #eb315a;
  color: #fff;
}
@media screen and (max-width: 800px) {
  .grid-wrapper footer .container {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .grid-wrapper footer .container article, .grid-wrapper footer .container address {
    flex: 0 2 50%;
  }
}
.grid-wrapper footer .last-line {
  position: relative;
  width: 100%;
  border-color: #636d75;
  padding: 0.5rem;
}
.grid-wrapper footer p {
  position: relative;
  text-align: center;
  color: #636d75;
  margin-bottom: 1rem;
}
.grid-wrapper footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(19, 19, 21, 0.89);
}